@media print {
    #header,
    #report-form,
    .print {
        display: none;
   
   
    }
    #page-reports h1{
        display: block;
    }

} /* end of @media print */

 @media print{
 	#toNewWindow{
 		display: none;
 		display: block;

 	}


 }