@media print {
    #header,
    #report-form,
    .print {
        display: none;
    }
    
    #reports-header {
        display: table;
        margin: 0 auto;
    }
    
    #page-reports h1 {
        display: block;
        font-size: 32px;
        font-weight: bold;
    }
    
    #reports-logo {
        display: block;
        float: left;
        width: 150px;
    }
    
    #reports-header h1 {
        display: none;
        float: left;
    }
    
    #logs {
        
    }
    
    #logs th {
        border-left: 1px solid #ddd;
    }
    
    #logs th:last-child {
        border-right: 1px solid #ddd;
    }
    
    #logs td {
        border-left: 1px solid #ddd;
    }
    
    #logs tr:last-child td {
        border-bottom: 1px solid #ddd;
    }
    
    #logs tr td:last-child {
        border-right: 1px solid #ddd;
    }
    
    @page {
        size: auto;  margin: 0mm;
    }

} /* end of @media print */

